// app global css in Sass form
body
    font-family: 'Nunito', sans-serif
.vue-typer .custom.char.typed
    color: $warning !important
    word-break: break-word
.vue-typer .custom.caret
    background-color: $secondary
.bg-background
    background: $background
.slow
    animation-duration: 3s
.txt-shadow
  text-shadow: -5px 5px 5px rgba(0, 0, 0, 0.75)
.sticky-title
  position: sticky
  top: 0px
  z-index: 10