<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.productName %></title>
    <meta charset="utf-8">
    <meta name="description" content="<%= htmlWebpackPlugin.options.productDescription %>">
    <meta name="robots" content="index, follow" />
    <meta name="image" property="og:image" content="https://jonafrank13.github.io/statics/website.png">
    <meta name="keywords" content="jona, frank, jona frank, architect, paypal, developer, techie, geek, senior developer">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://jonafrank13.github.io/">
    <meta property="og:title" content="Jona Frank">
    <meta property="og:description" content="Personal Website of Jona Frank (jona.mailbox@gmail.com)">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://jonafrank13.github.io/">
    <meta property="twitter:title" content="Jona Frank">
    <meta property="twitter:description" content="Personal Website of Jona Frank (jona.mailbox@gmail.com)">
    <meta property="twitter:image" content="https://jonafrank13.github.io/statics/website.png">
    <!-- DO NOT REMOVE THIS LINE -->
    <meta name="author" content="jona.mailbox@gmail.com">
    <!-- DO NOT REMOVE THIS LINE -->
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova || htmlWebpackPlugin.options.ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">
    <link rel="icon" type="image/ico" href="statics/icons/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163493750-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-163493750-1');
    </script>
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
    <footer style="display: none;">AUTHOR: JONA FRANK :: LAST UPDATED: 2021</footer>
  </body>
</html>
